extends ../errorTemplate.jade
block content
  h1.h1 Port not exposed
  p.p The container for
    strong.strong  #{branchName}
    |  is running, but this port is not exposed.
  p.p Exposed ports:
    if (ports.length === 0)
      span.span (none)
    else
      each port, index in ports
        if (index !== 0)
          span ,
        a.link(
          href = "#{containerUrl}:#{port}"
        ) #{port}


  a.link(
    href = "/#{ownerName}/configure/#{instanceName}"
  ) Expose a port in Runnable