extends ../errorTemplate.jade
block content
  h1.h1 Oops!
  p.p We can’t reach the container for
    strong.strong  #{branchName}
    |  even though it’s running and this port is exposed.
  p.p Make sure your service is listening on all interfaces.
  p.p Other exposed ports: #{''}
    if (ports.length === 0)
      span.span (none)
    else
      each port, index in ports
        if (index !== 0)
          span , #{''}
        a.link(
          href = "#{containerUrl}:#{port}"
        ) #{port}