#build-stream.container

  .row
    .pull-right
      input.form-control(placeholder = "Filter Builds")

  .row
    table.table.table-bordered.table-hover
      thead
        tr
          th
          th Build
          th Commit Message
          th Duration
          th Finished
          th Trigger
      tbody
        tr
          td
            span.glyphicons.circle-ok
          td 1776
          td commit message about stuff
          td 8 minutes
          td 1 hour
          td by #{''}
             a prafulrana
        tr
          td
            span.glyphicons.circle-ok
          td 1775
          td commit message about stuff
          td 8 minutes
          td 2 hours
          td by #{''}
             a cflynn07
        tr
          td
            span.glyphicons.circle-ok
          td 1774
          td commit message about stuff
          td 8 minutes
          td 3 hours
          td by #{''}
             a cflynn07
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1773
          td commit message about stuff
          td 8 minutes
          td 4 hours
          td by #{''}
             a runnabro
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1772
          td commit message about stuff
          td 8 minutes
          td 4 hours
          td by #{''}
             a runnabro
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1771
          td commit message about stuff
          td 8 minutes
          td 4 hours
          td by #{''}
             a runnabro
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1770
          td commit message about stuff
          td 8 minutes
          td 4 hours
          td by #{''}
             a runnabro
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1769
          td commit message about stuff
          td 8 minutes
          td 4 hours
          td by #{''}
             a runnabro