#build-stream.container

  .row
    .pull-right
      input.form-control(placeholder = "Filter Builds")

  .row
    table.table.table-bordered.table-hover
      thead
        tr
          th Build
          th Status
          th Duration
          th Time Ago
          th Trigger
      tbody
        tr
          td 1776
          td
            span.glyphicons.circle-ok
          td 8 minutes
          td 1 hour
          td by #{''}
             a prafulrana
        tr
          td 1775
          td
            span.glyphicons.circle-ok
          td 8 minutes
          td 2 hours
          td by #{''}
             a cflynn07
        tr
          td 1774
          td
            span.glyphicons.circle-ok
          td 8 minutes
          td 3 hours
          td by #{''}
             a cflynn07
        tr
          td 1773
          td
            span.glyphicons.circle-exclamation-mark
          td 8 minutes
          td 4 hours
          td by #{''}
             a runnabro
        tr
          td 1772
          td
            span.glyphicons.circle-exclamation-mark
          td 8 minutes
          td 4 hours
          td by #{''}
             a runnabro
        tr
          td 1771
          td
            span.glyphicons.circle-exclamation-mark
          td 8 minutes
          td 4 hours
          td by #{''}
             a runnabro