doctype html
html(
  lang = "en"
  ng-controller = "ControllerApp"
)
  head
    meta(charset = "utf-8")
    meta(
      content = "width=device-width, initial-scale=1"
      name = "viewport"
    )
    title sandbox.runnable
    link(
      href = "/build/css/index.css?v=#{locals.version}"
      media = "screen"
      rel = "stylesheet"
    )
    //- ios
    link(
      href = "/build/images/icons-ios.png"
      rel = "apple-touch-icon"
    )
    meta(
      console = "Runnable"
      name = "apple-mobile-web-app-title"
    )
    script(src = "/build/js/bundle.js?v=#{locals.version}")
    script.
      window.heap=window.heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
      heap.load("3017229846");
  body
    ng-include#svg-defs(src = "'svgDefs'")
    #wrapper(
      ng-class = "dataApp.state.current.data.bodyClass"
      ng-click = "dataApp.documentClickEventHandler($scope, this)"
      ui-view
    )
