header#build-stream-header
  h1.col-sm-12
    b 100
    | /560
    b #{''} Builds
  .col-sm-12
    input.form-control(placeholder = "Search Builds")
  .btn-group.col-sm-12
    button.silver
      span.glyphicons.chevron-left(type = "button")
      | Prev 100
    button.silver Next 100
      span.glyphicons.chevron-right(type = "button")

div.table-scroll
  table#build-stream.table.table-bordered.table-hover
    thead
      tr
        th
        th.sortable.descending
          span Build
        th.sortable
          span Duration
        th.sortable
          span Started
        th Triggered By
        th Commit Message
        th
    tbody
      tr
        td
          span.glyphicons.circle-ok
        td 1776
        td 97 seconds
        td 99/99/99
        td
          a CodeNow/runnable-web#4da2298a6b
        td commit message about stuff
        td
          button.btn-sm.silver
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-ok
        td 1775
        td 97 seconds
        td 99/99/99
        td
          a CodeNow/runnable-web#a1bbd063d2
        td commit message about stuff
        td
          button.btn-sm.silver
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-ok
        td 1774
        td 97 seconds
        td 99/99/99
        td
          a CodeNow/runnable-web#4da2298a6b
        td commit message about stuff
        td
          button.btn-sm.silver
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1773
        td 97 seconds
        td 99/99/99
        td
          a runnabro
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1772
        td 97 seconds
        td 99/99/99
        td
          a CodeNow/runnable-web#4da2298a6b
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1771
        td 97 seconds
        td 99/99/99
        td
          a CodeNow/runnable-web#4da2298a6b
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1770
        td 97 seconds
        td 99/99/99
        td
          a CodeNow/runnable-web#1c9120febc
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1769
        td 97 seconds
        td 99/99/99
        td
          a CodeNow/runnable-web#d5ba4e6bab
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
          td
            span.glyphicons.circle-ok
          td 1776
          td 97 seconds
          td 99/99/99
          td
            a CodeNow/runnable-web#4da2298a6b
          td commit message about stuff
          td
            button.btn-sm.silver
              span.glyphicons.play
              | Run
        tr
          td
            span.glyphicons.circle-ok
          td 1775
          td 97 seconds
          td 99/99/99
          td
            a cflynn07
            | #{''} (manual)
          td commit message about stuff
          td
            button.btn-sm.silver
              span.glyphicons.play
              | Run
        tr
          td
            span.glyphicons.circle-ok
          td 1774
          td 97 seconds
          td 99/99/99
          td
            a CodeNow/runnable-web#4da2298a6b
          td commit message about stuff
          td
            button.btn-sm.silver
              span.glyphicons.play
              | Run
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1773
          td 97 seconds
          td 99/99/99
          td
            a runnabro
            | #{''} (manual)
          td commit message about stuff
          td
            button.btn-sm.silver(disabled)
              span.glyphicons.play
              | Run
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1772
          td 97 seconds
          td 99/99/99
          td
            a runnabro
            | #{''} (manual)
          td commit message about stuff
          td
            button.btn-sm.silver(disabled)
              span.glyphicons.play
              | Run
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1771
          td 97 seconds
          td 99/99/99
          td
            a CodeNow/runnable-web#d5ba4e6bab
          td commit message about stuff
          td
            button.btn-sm.silver(disabled)
              span.glyphicons.play
              | Run
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1770
          td 97 seconds
          td 99/99/99
          td
            a CodeNow/runnable-web#d5ba4e6bab
          td commit message about stuff
          td
            button.btn-sm.silver(disabled)
              span.glyphicons.play
              | Run
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1769
          td 97 seconds
          td 99/99/99
          td
            a runnabro
            | #{''} (manual)
          td commit message about stuff
          td
            button.btn-sm.silver(disabled)
              span.glyphicons.play
              | Run
        tr
        td
          span.glyphicons.circle-ok
        td 1776
        td 97 seconds
        td 99/99/99
        td
          a prafulrana
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-ok
        td 1775
        td 97 seconds
        td 99/99/99
        td
          a cflynn07
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-ok
        td 1774
        td 97 seconds
        td 99/99/99
        td
          a cflynn07
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1773
        td 97 seconds
        td 99/99/99
        td
          a runnabro
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1772
        td 97 seconds
        td 99/99/99
        td
          a runnabro
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1771
        td 97 seconds
        td 99/99/99
        td
          a runnabro
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1770
        td 97 seconds
        td 99/99/99
        td
          a runnabro
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run
      tr
        td
          span.glyphicons.circle-exclamation-mark
        td 1769
        td 97 seconds
        td 99/99/99
        td
          a runnabro
          | #{''} (manual)
        td commit message about stuff
        td
          button.btn-sm.silver(disabled)
            span.glyphicons.play
            | Run