.modal.modal-fork(
  ng-class = "{'in': in}"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-fork
        use(xlink:href = "#icons-fork")
    .modal-body
      form.ace-runnable-dark(
        name = "data.forkForm"
      )
        label Give your box a name
          //- add .focus on click on span.input.modal-input AND on modal open
          //- clicks should act as a click on span.input.modal-input
          .input-group.validate(
            ng-class = "{\
              'focus': '',\
              'ng-invalid': data.forkForm.$invalid,\
              'ng-valid': data.forkForm.$valid\
            }"
            ng-click = ""
          )
            .input-prefix.validate http://
            span.input.modal-input(
              autofocus
              contenteditable
              ng-model = "data.instance.state.name"
              validate-name = "data.instances"
              validate-name-pattern
            ) instance6
            .input-suffix.validate .username.runnable.io
          //- .validate-wrapper(
          //-   ng-class = "{in: data.forkForm.$invalid}"
          //- )
          //-   //- if invalid character is entered
          //-   span.validate-rules(
          //-     ng-class = "{in: data.forkForm.$error.namePattern.length}"
          //-   ) We accept #{''}
          //-     b.btn.btn-xs.orange A-Z
          //-     b.btn.btn-xs.orange a-z
          //-     b.btn.btn-xs.orange 0-9
          //-     b.btn.btn-xs.orange _
          //-     b.btn.btn-xs.orange -
          //-   //- if the name is taken
          //-   span.validate-rules(
          //-     ng-class = "{in: data.forkForm.$error.nameAvailable.length}"
          //-   ) That's a pretty name, but it's taken.
        //- env vars
        pre.pre.ace_editor.ace-tm
          label.environment-variable.ace_comment
            .ace_gutter-cell 1
            | // Environment Variables:
          label.environment-variable
            .ace_gutter-cell 2
            span.variable-text GITHUB_CLIENT_ID
            span #{''} = #{''}
            input.environment-input(
              value = "7a2b50212a5598ba3cf5"
            )
          label.environment-variable
            .ace_gutter-cell 3
            span.variable-text GITHUB_CLIENT_SECRET
            span #{''} = #{''}
            input.environment-input(
              value = "eece03e4cf3a18162512ed2f6b85d8d3ae65a164"
            )
          label.environment-variable
            .ace_gutter-cell 4
            span.variable-text FULL_API_DOMAIN
            span #{''} = #{''}
            input.environment-input(
              value = "http://mewl10-3030.runnable.io"
            )
          label.environment-variable
            .ace_gutter-cell 5
            span.variable-text GITHUB_CALLBACK_URL
            span #{''} = #{''}
            input.environment-input(
              value = "http://mewl10-3030.runnable.io/auth/github/callback"
            )
          label.environment-variable
            .ace_gutter-cell 6
            span.variable-text GITHUB_HOOK_URL
            span #{''} = #{''}
            input.environment-input(
              value = "http://mewl10-3030.runnable.io/actions/github"
            )
    .modal-footer
      button.white(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
      button(
        ng-class = "{\
          green: data.forkForm.$valid,\
          orange: data.forkForm.$invalid\
        }"
        ng-disabled = "data.forkForm.$invalid"
      ) Fork Box
