.popover.bottom.popover-dns-mappings(
  ng-class = "{'in': active}"
  ng-init = "\
    dnsMappings = [\
      {name: 'data-dog', elasticHostname: 'datadog-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'runnabro', type: 'private', status: 'green'},\
      {name: 'mavis', elasticHostname: 'mavis-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'CodeNow', type: 'organization', status: 'green'},\
      {name: 'neo4j', elasticHostname: 'neo4j-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'CodeNow', type: 'organization', status: 'green'},\
      {name: 'optimus', elasticHostname: 'optimus-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'CodeNow', type: 'organization', status: 'green'},\
      {name: 'runnable-angular', elasticHostname: 'runnable-angular-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'CodeNow', type: 'organization', status: 'green'}\
    ];\
    mavisBranches = [\
      {name: 'master', status: 'green'},\
      {name: 'abort-on-uncaught-exception', status: 'gray'},\
      {name: 'bypass-prev-dock', status: 'orange'},\
      {name: 'no-docks-404', status: 'red'},\
      {name: 'remove-numBuild', status: 'green'},\
      {name: 'temporary-branch-to-fork-on-runnable', status: 'green'}\
    ];\
    mavisPrivateBranches = [\
      {name: 'master', status: 'green', sandbox: 'prafulrana'},\
      {name: 'master', status: 'green', sandbox: 'runnabro'}\
    ];\
    state.loading = true;\
    state.view = null;\
  "
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 50% 0"
)
  .arrow(
    ng-class = "{'white': state.loading}"
  )

  //- explanation of views and height:

      view 1 = list of dns mappings
      view 2 = changing dns mapping

      for view 1, height of list items & (header + list padding)
      for view 2, height of list items & (header + toggle + list padding)

        list item (view 1) = 54px
        list item (view 2) = 36px
        list item (view 2/private) = 54px
        header = 36px
        toggle = 38px
        list padding = 4px * 2

  .popover-views(
    ng-style = "\
      state.loading && {'height': '150px'} ||\
      state.view === 1 && {'height': {{dnsMappings.length*54 + 36 + 8}} + 'px'} ||\
      (state.view === 2 && !toggle.privateContainers) && {'height': {{mavisBranches.length*36 + 36 + 38 + 8}} + 'px'} ||\
      (state.view === 2 && toggle.privateContainers) && {'height': {{mavisPrivateBranches.length*54 + 36 + 38 + 8}} + 'px'}\
    "
  )
    .popover-view(
      ng-class = "{'view-2': state.view === 2}"
      ng-style = "state.loading && {'display': 'block'}"
    )
      .popover-header.load(
        ng-if = "!state.loading"
      )
        .fade(
          ng-class = "{'in': state.view === 1}"
        ) DNS Mappings

      //- spinner
      .spinner-wrapper.spinner-sm.spinner-gray.spinner-center.in(
        ng-click = "\
          state.loading = false;\
          state.view = 1;\
        "
        ng-if = "state.loading"
        ng-include = "'spinner'"
      )

      .popover-content.fade(
        ng-class = "{'in': state.view === 1}"
      )

        //- list of DNS mappings
        ul.list.popover-list
          li.list-item.popover-list-item.tr.multi-line.clearfix.load(
            ng-click = "\
              dnsMappings.currentIndex = $index;\
              state.selectedMapping = container;\
              state.view = 2;\
              toggle.disabled = false;\
            "
            ng-if = "!state.loading"
            ng-repeat = "container in dnsMappings"
          )
            .cell.text-overflow(
              title = "{{container.name}}"
            )
              .text-overflow {{container.name}}
              small.small.text-overflow(
                title = "{{container.elasticHostname}}"
              ) {{container.elasticHostname}}
            .cell.text-overflow
              .icons-status(
                ng-class = "container.status"
                title = "{{container.branch}}"
                tooltip
                tooltip-eval = "instance | cardBuildStatusTitle"
                tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
              )
              | {{container.branch}}
              small.small(
                title = "{{container.sandbox}}"
              ) {{container.sandbox}} {{container.type === 'private' ? '(private)' : ''}}

            //- inline for svg animation
            svg.iconnables.icons-check.float-right(
              ng-if = "container === state.selectedMapping && state.view === 1"
              viewbox='0 0 14.5 10'
            )
              path.path(
                fill='none',
                stroke='#3ccb5a',
                stroke-width='2',
                stroke-linecap='round',
                stroke-linejoin='round',
                stroke-miterlimit='10',
                d='M1,4.5L5.5,9l8-8'
              )

            svg.iconnables.icons-arrow-forward.float-right(
              ng-class = "{'in': container === state.selectedMapping && state.view === 1}"
            )
              use(
                xlink:href = "#icons-arrow-down"
              )

    //- view for changing a dns mapping
    .popover-view(
      ng-class = "{'view-2': state.view === 2}"
      ng-init = "toggle.privateContainers = false"
    )
      .popover-header
        //- toggle.disabled prevents toggles from looking like they've switched mid animation
        svg.btn.btn-sm.iconnables.icons-arrow-backward.pull-left.fade(
          ng-class = "{'in': state.view === 2}"
          ng-click = "\
            state.view = 1;\
            state.selectedMapping = null;\
            toggle.disabled = true;\
            toggle.privateContainers = false;\
          "
        )
          use(
            xlink:href = "#icons-arrow-down"
          )
        .fade(
          ng-class = "{'in': state.view === 2}"
        ) {{dnsMappings[dnsMappings.currentIndex].name}} Containers

      .popover-content.fade(
        ng-class = "{'in': state.view === 2}"
      )
        //- toggle between organization containers and private containres
            only show toggle if there are containers in private sandboxes
        .btn-group.btn-toggle.btn-toggle-xs(
          ng-if = "mavisPrivateBranches.length"
        )
          .btn.btn-xs.gray.text-overflow(
            ng-class = "{\
              'active': !toggle.privateContainers && !toggle.disabled,\
              'no-touching': !toggle.privateContainers\
            }"
            ng-click = "toggle.privateContainers = !toggle.privateContainers"
            title = "CodeNow"
          ) CodeNow
          .btn.btn-xs.gray.text-overflow(
            ng-class = "{\
              'active': toggle.privateContainers && !toggle.disabled,\
              'no-touching': toggle.privateContainers\
            }"
            ng-click = "toggle.privateContainers = !toggle.privateContainers"
            title = "Private"
          ) Private

        //- organization container list
        ul.list.popover-list.popover-list-toggle.fade(
          ng-class = "{\
            'in': state.view === 2 && !toggle.privateContainers,\
            'view-2': toggle.privateContainers\
          }"
        )
          li.list-item.popover-list-item(
            ng-click = "\
              dnsMappings[dnsMappings.currentIndex].branch = branch.name;\
              dnsMappings[dnsMappings.currentIndex].sandbox = 'CodeNow';\
              dnsMappings[dnsMappings.currentIndex].status = branch.status;\
              dnsMappings[dnsMappings.currentIndex].type = 'organization';\
              state.view = 1;\
              toggle.disabled = true;\
              toggle.privateContainers = false;\
            "
            ng-repeat = "branch in mavisBranches"
          )
            //- from status-icon template
            .icons-status(
              ng-class = "branch.status"
              tooltip
              tooltip-eval = "instance | cardBuildStatusTitle"
              tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
            )
            | {{branch.name}}

        //- private container list
        ul.list.popover-list.popover-list-toggle.fade(
          ng-class = "{\
            'in': state.view === 2 && toggle.privateContainers,\
            'view-2': toggle.privateContainers\
          }"
        )
          li.list-item.multi-line.popover-list-item(
            ng-click = "\
              dnsMappings[dnsMappings.currentIndex].branch = branch.name;\
              dnsMappings[dnsMappings.currentIndex].recent = true;\
              dnsMappings[dnsMappings.currentIndex].sandbox = branch.sandbox;\
              dnsMappings[dnsMappings.currentIndex].status = branch.status;\
              dnsMappings[dnsMappings.currentIndex].type = 'private';\
              state.view = 1;\
              toggle.disabled = true;\
              toggle.privateContainers = false;\
            "
            ng-repeat = "branch in mavisPrivateBranches"
          )
            .icons-status(
              ng-class = "branch.status"
              tooltip
              tooltip-eval = "instance | cardBuildStatusTitle"
              tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
            )
            | {{branch.name}}
            small.small(
              title = "{{branch.sandbox}}"
            ) {{branch.sandbox}}
            svg.iconnables.icons-fat-check
              use(
                xlink:href = "#icons-fat-check"
              )