//- Describes Docker commands
//- Currently only ADD
.popover.bottom.popover-guides(
  ng-class = "{in: data.in}"
)
  .arrow.white
  .popover-content.clearfix
    pre.well.well-code.gray ADD &lt;src&gt;... &lt;dest&gt;
    p.popover-text
      | The #{''}
      span.well.well-code.well-inline.gray ADD
      | #{''} instruction copies new files, directories or remote file URLs from #{''}
      span.well.well-code.well-inline.gray &lt;src&gt;
      | #{''} and adds them to the filesystem of the container at the path #{''}
      span.well.well-code.well-inline.gray &lt;dest&gt;
      | #{''}. #{''}
      a.link.link-text.link-reference(
        href = "//docs.docker.com/reference/builder/#add"
        target = "_blank"
      ) [1]
    a.link.link-text.link-gray(
      ng-click = "actions.nextPage()"
    ) Next