form.padding-md(
  novalidate
  name = "paymentForm"
)

  label.grid-block.align-center.well.well-plan.well-summary.disabled.padding-xxs(
    ng-if = "!CPFC.updating"
    plan-summary
  )

  label.grid-block.align-center.padding-xs.well.well-plan.well-summary.disabled(
    ng-if = "!CPFC.updating && CPFC.plan.discount"
    ng-include = "'discountView'"
  )

  //- limit all fields to numbers only
  //- add .invalid class for errors from stripe
  .grid-block.vertical.well.gray.padding-sm.well-payment
    p.red.small.text-center(
      ng-if = "CPFC.error"
      ng-bind = "CPFC.error"
    )
    label.grid-block.vertical.label-payment.label-cc
      .small Card Number
      //- add .visa, .mastercard, .amex, .jcb to show cc type
      input.grid-content.input.input-md.input-cc.input-validate(
        cc-number
        cc-format
        cc-type
        cc-eager-type
        autocomplete = "cc-number"
        ng-class = "getCardClass()"
        ng-model = "CPFC.card.number"
        name = "cardNumber"
        required
        spellcheck = "false"
        ng-disabled="$root.isLoading.savePayment"
      )
    .grid-block
      .grid-block.shrink.vertical.label-payment.label-expiry
        .small Expiry
        //- auto insert " / " after last 2nd number (with the spaces)
          - pressing delete immediately after " / " should delete " / " AND the preceeding number
        .input-group.input-group-md.input-validate.white(
          ng-class = "{ \
            'focus': state.isFocused, \
            'ng-invalid': !isCCExpValid(), \
            'ng-valid': isCCExpValid() \
          }"
          cc-exp
          ng-disabled="$root.isLoading.savePayment"
        )
          input.input.input-md.input-exp.text-center(
            autocomplete = "cc-exp-month"
            cc-exp-month
            inputmode = "numeric"
            name = "ccExpMonth"
            ng-blur = "state.isFocused = false"
            ng-focus = "state.isFocused = true"
            ng-model = "CPFC.card.exp_month"
            placeholder = "MM"
            required
            spellcheck = "false"
            ng-disabled="$root.isLoading.savePayment"
          )
          span.span /
          input.input.input-md.input-exp.text-center(
            autocomplete = "cc-exp-year"
            cc-exp-year
            full-year
            inputmode = "numeric"
            name = "ccExpYear"
            ng-blur = "state.isFocused = false"
            ng-focus = "state.isFocused = true"
            ng-model = "CPFC.card.exp_year"
            placeholder = "YYYY"
            required
            spellcheck = "false"
            ng-disabled="$root.isLoading.savePayment"
          )


      label.grid-block.vertical.label-payment.label-security
        .small CVC
        input.input.input-md.input-cvc.input-validate(
          cc-cvc
          ng-model = "CPFC.card.cvc"
          type = "text"
          autocomplete = "cc-csc"
          inputmode = "numeric"
          required
          spellcheck = "false"
          ng-disabled="$root.isLoading.savePayment"
        )

      label.grid-block.vertical.label-payment.label-zip
        .small Zip Code
        input.input.input-md.input-zip.input-validate(
          ng-model = "CPFC.card.address_zip"
          inputmode = "numeric"
          maxlength = "5"
          spellcheck = "false"
          ng-disabled="$root.isLoading.savePayment"
        )

    .grid-block.well.padding-xxs.small.justify-center.text-center(
      payment-summary
      show-next = 'false'
    )

  //- 3 users is the minimum amount
  p.grid-content.p.text-gray.text-center.padding-sm(
    ng-if = "!CPFC.currentOrg.poppa.isInActivePeriod()"
  ) We prorate your account for users added in the middle of a billing period.&#32;
    a.link(
      href = "https://support.runnable.com/hc/en-us/articles/212037226"
      target = "_blank"
    ) Details

  p.grid-content.p.text-gray.text-center.padding-sm(
    ng-if = "CPFC.currentOrg.poppa.isInActivePeriod()"
  ) Your payment changes will be applied to your next billing date on {{getBillingDate()}}.

footer.modal-footer.clearfix
  button.btn.btn-md.gray.btn-cancel.float-left(
    ng-click = "CPFC.actions.cancel()"
    ng-if = "CPFC.cancel"
    type = "button"
    ng-disabled="$root.isLoading.savePayment"
  ) Cancel

  button.btn.btn-md.green.float-right(
    ng-click = "CPFC.actions.save()"
    ng-disabled="paymentForm.$invalid || $root.isLoading.savePayment"
    ng-if = "CPFC.updating && !(CPFC.currentOrg.poppa.isInGrace() || CPFC.currentOrg.poppa.isGraceExpired())"
  )
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-include = "'spinner'"
      ng-if = "$root.isLoading.savePayment"
    )
    span Update Payment Method

  button.btn.btn-md.green.float-right(
    ng-click = "CPFC.actions.save()"
    ng-disabled="paymentForm.$invalid || $root.isLoading.savePayment"
    ng-if = "!CPFC.updating && !(CPFC.currentOrg.poppa.isInGrace() || CPFC.currentOrg.poppa.isGraceExpired())"
    type = "button"
  )
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-include = "'spinner'"
      ng-if = "$root.isLoading.savePayment"
    )
    span Add Payment Method


  button.btn.btn-md.green.btn-block(
    ng-click = "CPFC.actions.save()"
    ng-disabled="paymentForm.$invalid || $root.isLoading.savePayment"
    ng-if = "CPFC.currentOrg.poppa.isInGrace() || CPFC.currentOrg.poppa.isGraceExpired()"
    type = "button"
  )
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-include = "'spinner'"
        ng-if = "$root.isLoading.savePayment"
      )
      span Submit Payment

  button.btn.btn-md.gray.btn-cancel.float-right(
    ng-click = "CPFC.actions.back()"
    ng-if = "CPFC.back"
    type = "button"
    ng-disabled="$root.isLoading.savePayment"
  ) Back
