h1.h1 Oops!
p.p We can’t reach the container for
  strong.strong  api/my-cool-branch
  |  even though it’s running and this port is exposed.
p.p Make sure your service is listening on all interfaces.
p.p Other exposed ports:
  | #{''}
  //- show this element if there are no ports exposed
  //- em.em (none)
  a.link(
    href='#'
  ) 80
  | , #{''}
  a.link(
    href='#'
  ) 3000
  | , #{''}
  a.link(
    href='#'
  ) 8080